/*----header-----*/
.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px 0;
  width: 100%;
  // background: rgba(0, 0, 0, 0.2);
  z-index: 500;
  transition: position 10s ease-in, background-color 0.3s ease-in;
  &.active {
    position: fixed;
    background: #000000;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  &-link {
    display: inline-block;
    flex-shrink: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: var(--global-color);
    &:hover {
      color: var(--font-color);
    }
  }
  &-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .btn-icon {
      margin-left: 10px;
    }
    .search-label {
      margin-left: 16px;
    }
  }
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @include list-reset;
  >li {
    position: relative;
    padding: 6px 15px;
    &.menu-item-has-children {
      padding-right: 30px;
      >a::after {
        content: '\e904';
        position: absolute;
        right: -18px;top: 40%;
        transform: translateY(-50%);
        font-family: 'icomoon';
        font-size: 18px;
      }
    }
    &:hover {
      .sub-menu {
        opacity: 100%;
        visibility: visible;
      }
    }
    >a {
      display: inline-block;
      position: relative;
      font-weight: 400;
      font-size: 15px;
      line-height: 1.1;
      text-transform: uppercase;
      color: var(--font-color);
    }
  }
  .sub-menu {
    position: absolute;
    left: 50%;top: 100%;
    transform: translateX(-50%);
    list-style: none;
    padding: 3px 5px;
    margin: 0;
    width: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #F5F6F7;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.10);
    opacity: 0; visibility: hidden;
    z-index: 1000;
    transition: opacity .3s ease, visibility .3s ease;
    li a {
      display: inline-block;
      padding: 7px 5px;
      width: 100%;
      font-size: 15px;
      font-weight: 400;
      line-height: 1.2;
      text-align: center;
      color: var(--font-color);
      &:hover {
        color: var(--global-color);
      }
    }
    li:not(:last-child) a {
      border-bottom: 1px solid var(--grey-color);
    }
  }
}

/* Lang Dropdown */
.lang {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 16px;
  &-item {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 14px;
    }
  }
}


.search-label {
  position: relative;
  display: inline-block;
  // overflow: hidden;
  width: 40px;
  height: 40px;
}
.search-input {
  position: absolute;
  top: -2px;
  right: -5px;
  box-sizing: border-box !important;
  padding: 9px 60px 9px 16px;
  width: 40px;
  height: 44px;
  opacity: 0;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: var(--font-color);
  border-radius: 10px;
  outline: none;border: none;
  background: var(--lightGrey-color);
  transition: .3s ease;
  z-index: 10;
  &::placeholder {
    color: #838383;
  }
}
.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.3s ease;
  z-index: 11;
}
.search-label.active {
  .search-input {
    width: 350px;
    opacity: 1;
  }
  .search-btn {
    // right: -115px;
    i {
      color: var(--black-color);
    }
  }
}


.btn-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 24px;
  line-height: 1;
  color: var(--font-color);
}
// .menu {
//   &-panel {
//     position: fixed;
//     overflow-x: hidden;
//     overflow-y: auto;
//     top: 100%;
//     right: -100%;
//     width: 100%;
//     max-width: 100%;
//     height: auto;
//     max-height: calc(100vh - 40px);
//     padding: 10px 10px 25px 10px;
//     background-color: #000000;
//     transition: right .4s;
//   }
//   &-list {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     justify-content: flex-start;
//     border-top: 1px solid #444444;
//     width: 100%;
//   }
//   &-items {
//     padding: 15px 0;
//     border-bottom: 1px solid #262626;
//     width: 100%;
//     &:last-child {
//       padding-bottom: 0;
//       border-bottom: 0;
//     }
//   }
//   &-btn {
//     display: flex;
//     align-items: center;
//     justify-content: flex-start;
//     width: 100%;
//     font-weight: 400;
//     font-size: 15px;
//     line-height: 1;
//     color: var(--font-color);
//     margin: 0;padding: 0;
//     border: 0;outline: none;
//     background: none;
//     i {
//       font-size: 18px;
//       margin-right: 10px;
//       &.icon-sign-out {
//         transform: rotate(180deg);
//       }
//     }
//   }
// }

@include tablet {
  .header {
    border-radius: 0;
    height: 40px;
    &-desktop {
      display: none;
    }
    &-mob {
      display: block;
    }
    &-top {
      padding: 7px 0;
      .logo {
        font-size: 20px;
      }
    }
    .green-link {
      padding: 10px 0;
      border-bottom: 1px solid #262626;
    }
    &-contacts {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  .searchform {
    .form-input {
      height: 36px;
    }
    &.form-group {
      margin-bottom: 15px;
    }
  }
  .nav-list {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    li {
      width: 100%;
      padding: 10px 0;
      border-bottom: 1px solid #262626;
      &:first-child {
        border-top: 1px solid #444444;
      }
      &:not(:last-child) {
        margin-right: 0;
        padding-right: 0;
        &:before {
          display: none;
        }
      }
      a {
        white-space: wrap;
        width: 100%;
      }
    }
  }
}

/* Show menu */
.show-menu-panel {
  right: 0;
  z-index: 1000;
}