/*-----title----*/
// .heading-row {
// 	display: flex;
// 	align-items: flex-start;
// 	justify-content: space-between;
// 	width: 100%;
// 	margin-bottom: 48px;
// }
// .heading {
// 	margin-bottom: 48px;
// }
.section-text {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.2;
	color: var(--font-color);
	&:not(:last-child) {
		margin-bottom: 1rem;
	}
}

.default-wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	padding: 30px 20px;
	border-radius: var(--border-radius);
	background: var(--lightGrey-color);
}
.default-wrapper-dark {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	padding: 30px 20px;
	border-radius: var(--border-radius);
	background: radial-gradient(133.33% 133.33% at 50% 50%, #515158 0%, rgba(81, 81, 88, 0.00) 100%), #292932;
  .link:hover {
    color: var(--lightGrey-color);
    &::before {
      background-color: var(--lightGrey-color);
    }
  }
  .link-input:hover {
    color: var(--lightGrey-color);
    border-color: var(--lightGrey-color);
  }
	.title-1, .title-2, .title-3, .title-4 {
		color: var(--lightGrey-color);
	}
}

.title {
	&-1 {
		margin-top: 0;
		margin-bottom: 20px;
		font-weight: 400;
		font-size: 40px;
		line-height: 1.2;
		color: var(--font-color);
	}
	&-2 {
		margin-top: 0;
		margin-bottom: 20px;
		font-weight: 400;
		font-size: 20px;
		line-height: 1.2;
		color: var(--font-color);
	}
	&-3 {
		margin-top: 0;
		margin-bottom: 20px;
		font-weight: 700;
		font-size: 18px;
		line-height: 1.2;
		color: var(--font-color);
	}
	&-4 {
		margin-top: 0;
		margin-bottom: 20px;
		font-weight: 400;
		font-size: 17px;
		line-height: 1.2;
		color: var(--font-color);
	}
}


// @include tablet {
// 	.heading-row {
// 		flex-direction: column;
// 		justify-content: flex-start;
// 	}

// 	.section-title {
// 		.number {
// 			font-size: 17px;
// 		}
// 		.neon {
// 			font-size: 40px;
// 		}
// 		.default {
// 			font-size: 32px;
// 		}
// 	}
// 	.neon {
// 		font-size: 40px;
// 	}
// 	.section-text {
// 		font-size: 18px;
// 	}

// 	.default-wrapper {
// 		padding: 36px 28px;
// 	}

// 	.title {
// 		&-m1 {
// 			font-size: 20px;
// 		}
// 		&-m2 {
// 			font-size: 18px;
// 		}
// 		// &-m3 {
// 		// 	font-weight: 700;
// 		// 	font-size: 18px;
// 		// 	line-height: 1.2;
// 		// 	color: var(--font-color);
// 		// }
// 		&-m4 {
// 			font-size: 26px;
// 		}
// 	}
// }

// @include mobile {
// 	.heading,
// 	.heading-row {
// 		margin-bottom: 40px;
// 	}
// 	.section-title {
// 		.neon {
// 			font-size: 30px;
// 		}
// 		.default {
// 			font-size: 26px;
// 		}
// 	}
// 	.neon {
// 		font-size: 30px;
// 	}
// 	.section-text {
// 		font-size: 16px;
// 	}

// 	.default-wrapper {
// 		padding: 30px 14px;
// 	}

// 	.title {
// 		// &-m1 {
// 		// 	font-size: 20px;
// 		// }
// 		&-m2 {
// 			font-size: 16px;
// 			line-height: 1.3;
// 		}
// 		// &-m3 {
// 		// 	font-size: 18px;
// 		// }
// 		// &-m4 {
// 		// 	font-size: 36px;
// 		// 	line-height: 1.35;
// 		// }
// 	}
// }

// @media screen and (max-width: 390px) {
// 	.default-wrapper {
// 		margin-right: -5px;
// 		margin-left: -5px;
// 		width: calc(100% + 10px);
// 	}
// }