<!--------Footer--------->
<footer class="footer">
  <div class="container">
    <div class="footer-container">
      <div class="col">
        <a href="/" class="logo"><img src="img/footer-logo.png" alt=""></a>
      </div>
      <div class="col">
        <div class="title-m2">Узнавайте о поступлениях первыми</div>
        <form action="#" class="form form-subs">
          <div class="form-group">
            <input type="email" class="form-input" placeholder="E-mail">
            <button type="submit" class="btn-reset"><i class="icomoon icon-arrow"></i></button>
          </div>
          <label for="subsPolitika" class="checkbox">
            <input type="checkbox" id="subsPolitika">
            <span>Я согласен с условиями <a href="#">политики конфиденциальности</a></span>
          </label>
        </form>
      </div>
      <div class="col">
        <div class="socials">
          <a href="https://www.facebook.com/MishkaEZ"><img src="img/icons/facebook.svg" alt=""></a>
          <a href="https://www.instagram.com/bigmishka_tattoosupply/"><img src="img/icons/instagram.svg" alt=""></a>
        </div>
        <div class="contacts-items">
          <p>TORNSTAR OÜ Reg. nr 16512386</p>
          <p>Seebi 1, Tallinn, Estonia, 11316</p>
        </div>
      </div>
      <div class="col">
        <div class="footer-title">Каталог</div>
        <ul class="footer-nav">
          <li><a href="#">Все товары</a></li>
          <li><a href="#">Новинки</a></li>
          <li><a href="#">Краски</a></li>
          <li><a href="#">PMU</a></li>
          <li><a href="#">Картриджи</a></li>
          <li><a href="#">Чистящие средства</a></li>
          <li><a href="#">Аксессуары</a></li>
          <li><a href="#">Мебель</a></li>
          <li><a href="#">Оборудование</a></li>
          <li><a href="#">Источники питания</a></li>
        </ul>
      </div>
      <div class="col">
        <div class="footer-title">Информация</div>
        <ul class="footer-nav">
          <li><a href="about.html">О нас</a></li>
          <li><a href="studiam-i-masteram.html">Студиям и мастерам</a></li>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="contacts.html">Контакты</a></li>
          <li><a href="oplata-dostavka-vozvrat.html">Оплата, доставка и возврат</a></li>
          <li><a href="rassrochka.html">Рассрочка</a></li>
        </ul>
      </div>
      <div class="col">
        <div class="group">
          <a href="#">Политика конфиденциальности</a>
          <a href="#">Договор покупки</a>
        </div>
        <div class="group">
          <div class="item">Сайт сделан в <a href="https://www.redsquirrel.agency/en/">RedSquirrel</a></div>
          <div class="item">Copyright © 2023 Tornstar OÜ</div>
        </div>
      </div>
    </div>
  </div>
</footer>