<!-- header -->
<header class="header header-desktop">
	<div class="container">
		<div class="header-top">
			<a href="/" class="logo">Bigmishka</a>
			<div class="col">
				<a href="tel:+37255532754" class="header-link">+(372) 5553 2754</a>
				<a href="mailto:order@mishka.ink" class="header-link">order@mishka.ink</a>
			</div>
			<div class="col">
				<a href="rassrochka.html" class="green-link" data-text="Рассрочка">Рассрочка</a>
				<a href="studiam-i-masteram.html" class="green-link" data-text="Студиям и мастерам">Студиям и мастерам</a>
			</div>
			<div class="header-bar">
				<div class="lang">
					<div class="lang-active">
						<div class="lang-item">EST</div>
					</div>
					<div class="lang-dropdown">
						<div class="lang-item">EST</div>
						<div class="lang-item">ENG</div>
					</div>
				</div>
				<div class="search-label" id="searchBarLabel">
					<input class="search-input" id="searchHiddenInput" type="type" placeholder="Поиск" />
					<button class="btn-icon search-btn" id="searchToggleBtn"><i class="icomoon icon-zoom"></i></button>
				</div>
				<a href="cart.html" class="btn-icon"><i class="icomoon icon-bag"></i></a>
				<a href="favorites.html" class="btn-icon"><i class="icomoon icon-heart"></i></a>
				<a href="#" class="btn-icon to-state" data-state="login"><i class="icomoon icon-user"></i></a>
			</div>
		</div>
		<div class="header-menu">
			<ul class="nav-list">
				<li><a href="#">Новинки</a></li>
				<li><a href="#">Краски</a></li>
				<li><a href="#">PMU</a></li>
				<li><a href="#">Картриджи</a></li>
				<li><a href="#">Чистящие средства</a></li>
				<li><a href="#">Аксессуары</a></li>
				<li><a href="#">Мебель</a></li>
				<li><a href="#">Оборудование</a></li>
				<li><a href="#">Источники питания</a></li>
			</ul>
		</div>
	</div>
</header>