<!--------Modal-------->

<div class="state" data-state="skidka">
	<div class="state-box">
		<div class="close"></div>
		<div class="widget-title">Дарим скидку 10% за регистрацию</div>
		<div class="widget-text">Всем новым клиентам скидка на первый заказ в&nbsp;интернет-магазине</div>
		<a href="#" class="link-lg black to-state" data-state="register">Зарегистрироваться <i class="icomoon icon-arrow"></i></a>
		<div class="state-bottom"><button class="btn-reset button-close">Закрыть</button></div>
	</div>
</div>


<div class="state" data-state="login">
	<div class="state-box">
		<div class="close"></div>
		<div class="widget-title">Войти</div>
		<form action="#" class="form form-light">
			<div class="form-group">
				<input type="email" class="form-input" placeholder="Email">
			</div>
			<div class="form-group">
				<input type="password" class="form-input" placeholder="Пароль">
				<a href="#">Не помню пароль</a>
			</div>
			<label for="loginPolitika" class="checkbox">
				<input type="checkbox" id="loginPolitika">
				<span>Я согласен с условиями <a href="#">политики конфиденциальности</a></span>
			</label>
			<button type="submit" class="btn-reset link-lg black">Войти<i class="icomoon icon-arrow"></i></button>
		</form>
		<div class="state-bottom">
			<div class="widget-text">Еще нет аккаунта? <a href="#" class="to-state" data-state="register">Зарегистрируйтесь</a></div>
		</div>
	</div>
</div>


<div class="state" data-state="register">
	<div class="state-box">
		<div class="close"></div>
		<div class="widget-title">Создать аккаунт</div>
		<form action="#" class="form form-light">
			<div class="form-group">
				<input type="text" class="form-input" placeholder="Имя">
			</div>
			<div class="form-group">
				<input type="text" class="form-input" placeholder="Фамилия">
			</div>
			<div class="form-group">
				<input type="email" class="form-input" placeholder="Email">
			</div>
			<div class="form-group">
				<input type="password" class="form-input" placeholder="Пароль">
			</div>
			<label for="registerPolitika" class="checkbox">
				<input type="checkbox" id="registerPolitika">
				<span>Я согласен с условиями <a href="#">политики конфиденциальности</a></span>
			</label>
			<label for="registerRassilka" class="checkbox">
				<input type="checkbox" id="registerRassilka">
				<span>Я хочу получать рассылку о новинках, поступлениях и полезные статьи</span>
			</label>
			<button type="submit" class="btn-reset link-lg black">Зарегистрироваться<i class="icomoon icon-arrow"></i></button>
		</form>
		<div class="state-bottom">
			<div class="widget-text">Уже есть аккаунт? <a href="#" class="to-state" data-state="login">Войдите</a></div>
		</div>
	</div>
</div>

<div class="state" data-state="zayavkaSklad">
	<div class="state-box">
		<div class="close"></div>
		<div class="widget-title">Заявка на физический склад товаров</div>
		<div class="widget-text">Вам не нужно платить за физический склад. Больше не будет острой нехватки расходников, когда они так нужны. У вас будет свой личный мини-склад с самым необходимым - прямо сейчас берите то, что закончилось</div>
		<form action="#" class="form form-light">
			<div class="form-group">
				<input type="text" class="form-input" placeholder="Имя">
			</div>
			<div class="form-group">
				<input type="email" class="form-input" placeholder="Email">
			</div>
			<label for="zayavkaSkladPolitika" class="checkbox">
				<input type="checkbox" id="zayavkaSkladPolitika">
				<span>Я согласен с условиями <a href="#">политики конфиденциальности</a></span>
			</label>
			<button type="submit" class="btn-reset link-lg black">Отправить<i class="icomoon icon-arrow"></i></button>
		</form>
		<div class="state-bottom"><button class="btn-reset button-close">Закрыть</button></div>
	</div>
</div>


						<div class="state prodView" data-state="prodViewDobavlen">
							<div class="state-box">
								<div class="close"></div>
								<!-- Товар добавлен -->
								<div class="message green">
									<div class="message-left">
										<div class="message-head">
											<i class="icomoon icon-checked"></i>
											<div>Товар успешно добавлен в корзину</div>
										</div>
									</div>
								</div>
								<div class="product-container">
									<div class="product-info">
										<h3 class="card-name">Xtreme Super Black</h3>
										<div class="card-articul">Артикул</div>
										<div class="card-text">
											Lorem ipsum dolor sit amet consectetur. Metus praesent consectetur ultricies dapibus turpis eleifend eu augue
											id.
											Adipiscing ipsum felis dictum dignissim netus at nisl nam. Consectetur egestas consectetur dui amet amet morbi
											tempus.
											Volutpat vitae nisl scelerisque eu amet nunc. Ipsum gravida eget id dui mi turpis lectus dui sed. Viverra
											eleifend
											sed
											adipiscing sed id eget morbi velit. Nulla cras ultricies donec odio
										</div>
										<div class="card-price-wrapper">
											<div class="card-price">
												<div class="current">€24,10</div>
												<div class="old">€40,10</div>
											</div>
											<div class="card-price-info"><img src="img/check-icon.svg" alt="">Доступно в рассрочку</div>
										</div>
										<div class="card-charact">
											<div class="group">
												<div class="title">Объем</div>
												<div class="select-second">
													<select name="objem" class="js-example-basic-single">
														<option value="objem30" selected="selected">30 мл</option>
														<option value="objem40">40 мл</option>
														<option value="objem50">50 мл</option>
													</select>
												</div>
											</div>
											<div class="group">
												<div class="title">Количество</div>
												<div class="kolvo">
													<button class="kolvo-minus"><i class="icomoon icon-minus"></i></button>
													<input class="kolvo-input" maxlength="100" value="1">
													<button class="kolvo-plus"><i class="icomoon icon-plus"></i></button>
												</div>
											</div>
											<div class="group">
												<div class="col">
													<button class="btn"><i class="icomoon icon-bag2"></i>В корзину</button>
													<button type="button" class="btn-reset btn-oneklick">Купить в 1 клик</button>
												</div>
												<div class="col">
													<button class="btn-reset btn-second"><i class="icomoon icon-compare"></i>Сравнить</button>
												</div>
											</div>
										</div>
									</div>
									<div class="product-slider">
										<!-- Swiper -->
										<div class="swiper prodFirstSwiper">
											<button type="button" class="btn-reset btn-favorites"><i class="icomoon icon-heart"></i></button>
											<div class="card-discount"><img src="img/discount.svg" alt=""></div>
											<div class="swiper-wrapper">
												<div class="swiper-slide"><img src="img/prod-img.jpg"></div>
												<div class="swiper-slide"><img src="img/prod-img.jpg"></div>
												<div class="swiper-slide"><img src="img/prod-img.jpg"></div>
												<div class="swiper-slide"><img src="img/prod-img.jpg"></div>
												<div class="swiper-slide"><img src="img/prod-img.jpg"></div>
												<div class="swiper-slide"><img src="img/prod-img.jpg"></div>
												<div class="swiper-slide"><img src="img/prod-img.jpg"></div>
												<div class="swiper-slide"><img src="img/prod-img.jpg"></div>
												<div class="swiper-slide"><img src="img/prod-img.jpg"></div>
											</div>
										</div>
										<div thumbsSlider="" class="swiper prodSecondSwiper">
											<div class="swiper-wrapper">
												<div class="swiper-slide"><img src="img/prod-img.jpg"></div>
												<div class="swiper-slide"><img src="img/prod-img.jpg"></div>
												<div class="swiper-slide"><img src="img/prod-img.jpg"></div>
												<div class="swiper-slide"><img src="img/prod-img.jpg"></div>
												<div class="swiper-slide"><img src="img/prod-img.jpg"></div>
												<div class="swiper-slide"><img src="img/prod-img.jpg"></div>
												<div class="swiper-slide"><img src="img/prod-img.jpg"></div>
												<div class="swiper-slide"><img src="img/prod-img.jpg"></div>
												<div class="swiper-slide"><img src="img/prod-img.jpg"></div>
											</div>
										</div>
										<div class="swiper-nav">
											<div class="swiper-button-next"></div>
											<div class="swiper-button-prev"></div>
										</div>
									</div>
								</div>
							</div>
						</div>