.catalog {
  .page-heading {
    .title-1 {
      text-align: center;
    }
  }
  .tags {
    max-width: 900px;
    margin: 0 auto 24px auto;
  }
  &__filters {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    .prodcount {
      font-size: 15px;
      color: #989898;
      margin-right: 20px;
      order: -1;
    }
  }
  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
  &__right {
    width: calc(100% - 220px - 20px);
    .link-grey {
      margin-bottom: 24px;
    }
  }
  &__sidebar {
    display: flex;
    flex-direction: column;
    width: 220px;
    flex-shrink: 0;
    &-btn,
    &-header {
      display: none;
    }
    .filter-reset {
      display: none;
    }
    &-item {
      padding: 20px 10px;
      border-radius: var(--border-radius);
      background-color: var(--lightGrey-color);
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
    &-title {
      margin-top: 0;
      margin-bottom: 0;
      position: relative;
      display: flex;
      align-items: center;
      padding-right: 20px;
      width: 100%;
      font-weight: 700;
      font-size: 15px;
      line-height: 1.1;
      color: var(--font-color);
      cursor: pointer;
      &::before {
        content: "\e900";
        position: absolute;
        top: 0px;
        right: 0;
        width: 16px;
        height: 16px;
        font-family: "icomoon";
        font-size: 16px;
        font-weight: 400;
        line-height: 1;
        color: var(--font-color);
        transform: rotate(90deg);
        transition: 0.3s;
      }
    }
    &-item-open .catalog__sidebar-body {
      margin-top: 16px;
      overflow: visible;
    }
    &-item-open .catalog__sidebar-title::before {
      transform: rotate(-90deg);
    }
    &-body {
      overflow: hidden;
      height: 0;
      transition: all .25s ease;
      .checkbox {
        margin-bottom: 0;
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
    &-list {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
          &:not(:last-child) {
          margin-bottom: 7px;
        }
        a {
          font-weight: 400;
          font-size: 15px;
          line-height: 1.1;
          color: var(--font-color);
          &:hover {
            color: var(--global-color);
          }
        }
      }
    }
    &-price {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      width: 100%;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 14px;
        height: 2px;
        background-color: var(--font-color);
      }
      .form-group {
        width: calc(50% - 15px);
        margin-bottom: 0;
      }
      .wallet {
        position: absolute;
        left: 5px;top: 1px;
      }
      .form-input {
        padding: 5px 4px 5px 26px;
        height: 30px;
        font-size: 16px;
        text-align: right;
        border-radius: 5px;
        background: var(--grey-color);
      }
    }
  }
  &__catinfo {
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 15px;
    background: #E5E5E5;
    h2 {
      margin-top: 0;
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.15;
      color: var(--font-color);
    }
    p {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 17px;
      line-height: 1.2;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 50px;
  }
}


.sidebarPrice-wrapper {
  margin-top: 24px;
  width: 100%;
  height: 20px;
}
.ui-slider-horizontal {
  width: calc(100% - 20px);
  margin: 0 auto;
  height: 2px;
  background: #E1E1E1;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -10px;
  margin-left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid #292932;
  background: var(--grey-color);
  z-index: 2;
  cursor: pointer;
  transition: .3s ease;
	&:hover {
		border-color: transparent;
	}
  &:focus {
    outline: none;
  }
}


@include tablet {
  .catalog {
    .page-heading {
      .title-1 {
        text-align: left;
      }
    }
    .tags {
      max-width: 100%;
      margin: 0 0 14px 0;
    }
    &__filters {
      justify-content: flex-start;
      .prodcount {
        font-size: 12px;
        margin-top: 10px;
        margin-right: 0;
        width: 100%;
        order: 1;
      }
    }
    &__container {
      justify-content: flex-start;
      flex-direction: column;
    }
    &__right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
      .link-grey {
        margin-bottom: 20px;
      }
    }
    &__sidebar {
      position: fixed;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      overflow-x: hidden;
      overflow-y: auto;
      top: 0;
      right: -100%;
      width: 300px;
      max-width: 300px;
      height: 100vh;
      max-height: 100vh;
      padding: 0 10px 24px 10px;
      background: rgba(255, 255, 255, 0.95);
      box-shadow: -5px 0px 15px 0px rgba(0, 0, 0, 0.05);
      backdrop-filter: blur(3px);
      z-index: 999;
      transition: right .4s;
      &.active {
        right: 0;
      }
      .filter-reset {
        display: inline-flex;
        margin-bottom: 20px;
      }
      &-btn {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 12px;
        line-height: 1.2;
        color: var(--font-color);
        margin-right: 24px;
        cursor: pointer;
        i {
          margin-left: 4px;
          font-size: 18px;
        }
      }
      &-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          margin: 0 0 10px 0;
          padding: 10px 0;
          font-size: 16px;
          font-weight: 700;
          line-height: 1;
          #catSidebarClose {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 22px;
            height: 22px;
            font-weight: 400;
            font-size: 22px;
            line-height: 1;
            color: var(--font-color);
          }
      }
      &-item {
        width: 220px;
        max-width: 220px;
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
    &__catinfo {
      order: 1;
      margin-top: 36px;
      margin-bottom: 0;
      padding: 20px 10px;
      h2 {
        font-size: 16px;
      }
      p {
        font-size: 16px;
        &:not(:last-child) {
          margin-bottom: 0.7rem;
        }
      }
    }
  }  
}

@media screen and (max-width: 800px) {
  .catalog {
    &__cards {
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 40px;
    }
  }
}

@include mobile {
  .catalog {
    &__cards {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}