.paymentbl,
.deliverybl,
.warrantybl,
.orderbl {
  .default-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #131313;
    .heading {
      margin-bottom: 20px;
    }
    .delivery-card {
      background: var(--grey-color);
    }
    .link {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }
  }
}
.paymentbl,
.warrantybl {
  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    .col {
      width: calc(50% - 20px);
      p {
        margin-top: 0;
        margin-bottom: 0;
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
.deliverybl {
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 10px;
    width: 100%;
  }
  .delivery-card {
    &-head {
      img {
        &:not(:last-child) {
          margin-right: auto;
        }
      }
      p:not(:last-child) {
        margin-right: 30px;
      }
    }
    &-content {
      padding: 30px 20px;
      p {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 17px;
        font-weight: 400;
        line-height: 1.2;
        color: #131313;
        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }
    }
    a {
      text-decoration: underline;
      &:hover {
        color: var(--global-color);
        text-decoration: none;
      }
    }
  }
}
.orderbl {
  .heading {
    width: calc(50% - 20px);
  }
  &__cards {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 46px;
    width: 100%;
    .step {
      width: calc(50% - 20px);
      &:nth-child(odd) {
        margin-right: 40px;
      }
      &:nth-child(1),
      &:nth-child(2) {
        margin-right: 50px;
      }
    }
  }
  &__img {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(50% - 20px);
    aspect-ratio: 56 / 40;
    object-fit: cover;
    border-top-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
  }
}
.payment-logos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
  img {
    width: auto;
    height: 32px;
    margin: 0 20px 20px 20px;
  }
}
.delivery-card {
  font-size: 17px;
  font-weight: 400;
  line-height: normal;
  border-radius: var(--border-radius);
  background: var(--lightGrey-color);
  &-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding: 30px 20px;
    min-height: 100px;
    &:not(:last-child):before {
      content: '';
      position: absolute;
      left: 20px;right: 20px;
      bottom: 0;
      width: calc(100% - 40px);
      height: 1px;
      background: #bfbfbf;
    }
    img {
      &:not(:last-child) {
        margin-right: 8px;
      }
    }
    p {
      margin: 8px 0;
      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
  &-content {
    padding: 30px 20px;
    p {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 17px;
      font-weight: 400;
      line-height: 1.2;
      color: #131313;
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
    .row {
      row-gap: 8px;
      p {
        margin: 0 12px 0 0 !important;
      }
    }
  }
  a {
    text-decoration: underline;
    &:hover {
      color: var(--global-color);
      text-decoration: none;
    }
  }
}

.errorpage {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 860px;
    min-height: 360px;
    margin: 0 auto;
    z-index: 1;
    &::before {
      content: '';
      position: absolute;
      left: 0;top: 20px;
      width: 260px;
      height: 165px;
      border-radius: var(--border-radius);
      object-fit: cover;
      background-image: url('../img/errorpage-img-01.jpg');
      z-index: -1;
    }
    &::after {
      content: '';
      position: absolute;
      right: 110px;bottom: 0;
      width: 140px;
      height: 165px;
      border-radius: var(--border-radius);
      object-fit: cover;
      background-image: url('../img/errorpage-img-02.jpg');
      z-index: -1;
    }
    span {
      display: block;
      margin-bottom: 35px;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.2;
      text-align: center;
      color: var(--global-color);
    }
    .title-1 {
      font-weight: 700;
      text-align: center;
      margin-bottom: 32px;
    }
  }
}