.popular {
  .heading {
    .title-1 {
      margin-left: 80px;
    }
    .section-text {
      max-width: 370px;
      margin-left: auto;
      margin-right: auto;
    }
    .link-dark {
      margin-top: 28px;
    }
  }
  &Swiper {
    .swiper-nav {
      margin-top: 0;
      margin-bottom: 24px;
      .swiper-button-prev::after,
      .swiper-button-next::after {
        color: #292932;
      }
    }
  }
}