.popular {
  .default-wrapper {
    align-items: flex-start;
    justify-content: flex-start;
    >.link-dark {
      margin-top: 28px;
    }
  }
  .heading {
    .title-1 {
      margin-left: 80px;
    }
    .section-text {
      max-width: 370px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &Swiper {
    .swiper-nav {
      margin-top: 0;
      margin-bottom: 24px;
      .swiper-button-prev::after,
      .swiper-button-next::after {
        color: #292932;
      }
    }
  }
}

@include mobile {
  .popular {
    .default-wrapper {
      >.link-dark {
        order: 1;
      }
    }
    .heading {
      .title-1 {
        margin-left: 0;
      }
      .section-text {
        max-width: 100%;
        margin-left: 0;
      }
    }
    &Swiper {
      .swiper-nav {
        margin-bottom: 16px;
      }
    }
  }
}