.recom {
  &-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
  &-left,
  &-right {
    width: calc(50% - 20px);
  }
  &-left {
    position: relative;
    img {
      width: 100%;
      border-radius: var(--border-radius);
    }
  }
  .charact-tags {
    top: 5px;right: 10px;
    li {
      margin: 5px 0 5px 10px;
      padding: 7px 18px 5px 18px;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.2;
      color: #F5F6F7;
      border-radius: 15px;
      background: radial-gradient(133.33% 133.33% at 50% 50%, #515158 0%, rgba(81, 81, 88, 0.00) 100%), #292932;
      span {
        margin-right: 10px;
        text-decoration: line-through;
      }
    }
  }
  &-right {
    .title-1 {
      font-size: 30px;
      color: var(--global-color);
      margin-bottom: 50px;
    }
    .text {
      font-size: 17px;
      color: var(--lightGrey-color);
    }
    .link {
      margin-top: 50px;
      &:hover {
        color: var(--lightGrey-color);
        &::before {
          background-color: var(--lightGrey-color);
        }
      }
    }
  }
}

@include tablet {
  .recom {
    &-left,
    &-right {
      width: calc(50% - 14px);
    }
    .charact-tags {
      right: 5px;
      li {
        margin: 2px 0 2px 8px;
        padding: 5px 8px 4px 8px;
        font-size: 12px;
        border-radius: 8px;
        span {
          margin-right: 8px;
        }
      }
    }
    &-right {
      .title-1 {
        font-size: 24px;
        margin-bottom: 24px;
      }
      .text {
        font-size: 16px;
      }
      .link {
        margin-top: 24px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .recom {
    &-item {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
    &-left {
      width: 100%;
      margin-bottom: 20px;
    }
    &-right {
      width: 100%;
    }
    &-right {
      .title-1 {
        font-size: 22px;
        margin-bottom: 18px;
      }
      .link {
        margin-top: 18px;
      }
    }
  }
}

@include mobile {
  .recom {
    .default-wrapper-dark {
      padding-top: 10px;
    }
  }
}