.review {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 20px;
  border-radius: 15px;
  background: #F5F6F7;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
  &s {
    .page-heading {
      margin-bottom: 40px;
      .title-1 {
        span {
          display: block;
          margin-left: 60px;
        }
      }
    }
    .heading {
      margin-bottom: 24px;
      width: 100%;
      .title-1 {
        width: 100%;
        span {
          display: block;
          margin-left: 58px;
        }
      }
      .section-text {
        width: 460px;
        margin-left: 60px;
      }
    }
    .link {
      display: flex;
      width: fit-content;
      margin: -40px 0 40px auto;
    }
    &__container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
      .col {
        &:nth-child(1) {
          width: calc(40% - 5px);
        }
        &:nth-child(2) {
          width: calc(60% - 5px);
        }
      }
    }
    &Swiper {
      overflow: visible;
      .swiper-slide {
        width: 470px;
        flex-shrink: 0;
      }
    }
  }
  &-head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
  &-avatar {
    width: 80px !important;
    height: 80px !important;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    margin-right: 20px;
  }
  &-info {
    h3 {
      margin: 0;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.1;
      color: #131313;
    }
    p {
      margin-top: 8px;
      margin-bottom: 0;
      font-size: 17px;
      font-weight: 400;
      line-height: 1.1;
      color: #989898;
    }
  }
  .rating {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  &-text {
    margin-top: 28px;
    p {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 17px;
      font-weight: 400;
      line-height: 1.2;
      color: #131313;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}

.review-form {
  .default-wrapper {
    padding-top: 50px;
  }
  .heading {
    margin-bottom: 24px;
    p {
      max-width: 440px;
    }
  }
  .form {
    width: 100%;
    .row {
      display: flex;
      width: 100%;
      .form-group {
        width: calc(25% - 8px);
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
    textarea {
      width: 75%;
    }
    &-group-title {
      font-size: 17px;
      font-weight: 400;
      margin-bottom: 6px;
    }
  }
}
.rating-btns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  img {
    opacity: .3;
    cursor: pointer;
  }
}

.reviews .desktop-hidden {
  display: none;
}


@include tablet {
  .review {
    &s {
      .container {
        display: flex;
        flex-direction: column;
      }
      .desktop-hidden {
        display: flex;
      }
      .mob-hidden {
        display: none;
      }
      .page-heading {
        margin-bottom: 12px;
        .title-1 {
          span {
            display: inline;
            margin-left: 0;
          }
        }
      }
      .heading {
        margin-bottom: 36px;
        .title-1 {
          span {
            margin-left: 0px;
            display: inline;
          }
        }
        .section-text {
          margin-left: 0;
        }
      }
      .link {
        display: inline-flex;
        margin: 28px 0 0 0;
        order: 1;
      }
      &Swiper {
        overflow: hidden;
        .swiper-slide {
          width: 100%;
        }
      }
    }
    &-avatar {
      width: 60px !important;
      height: 60px !important;
    }
    &-head {
      align-items: flex-start;
    }
    &-info {
      padding-top: 6px;
      h3 {
        font-size: 17px;
      }
      p {
        font-size: 16px;
      }
    }
    .rating {
      position: relative;
      top: auto;
      right: auto;
      margin-top: 8px;
    }
    &-text {
      margin-top: 20px;
      p {
        font-size: 16px;
        &:not(:last-child) {
          margin-bottom: 0.7rem;
        }
      }
    }
  }
  .review-form {
    .default-wrapper {
      padding-top: 30px;
    }
    .form {
      .row {
        .form-group {
          width: calc(50% - 8px);
          &:not(:last-child) {
            margin-right: auto;
          }
          &:nth-child(odd) {
            margin-right: 16px;
          }
        }
      }
      textarea {
        width: 100%;
      }
      &-group-title {
        font-size: 15px;
      }
    }
  }
}

@include mobile {
  .review {
    padding: 17px 10px;
    &-avatar {
      width: 40px !important;
      height: 40px !important;
      margin-right: 10px;
    }
  }
  .review-form {
    .form {
      .row {
        .form-group {
          width: 100%;
          &:nth-child(odd) {
            margin-right: 0;
          }
        }
      }
    }
  }
}